    
  
  /*Theladress style*/  
  
  body{padding: 20px; background: #c0c0c0;}
  table{margin: auto;}
  .tb2{border-collapse: collapse;}
  .td1{font-size: 38px;}
  .td2{font-size: 20px; border-top: solid 1px;}
  .td3 {font-size: 20px; text-align: center;  background:#808080;
        border: solid 1px; border-color:#c0c0c0; color:#c0c0c0;}
  .td4 {font-size: 48px; text-align: center;  background:#808080;
        border: solid 1px; border-color:#c0c0c0; color:#c0c0c0;}	
  
  .coming{color:#00ffff;}
  .center{text-align: center; font-size: 30px;}


  

  .progress { 
    
    background: #28343b;	
    border: 1px solid #333; 
    height: 20px; width: 698px;
    border-radius: 10px; 
    position: relative; 
    margin: 0 auto;
 
	}
	
   .progress::before {
    content: '';
    position: absolute; 
    height: 18px; width: 75%;
    background: aqua; 
    border-radius: 10px;
	border: 1px solid #008DF2; 
    box-shadow: 3px 0 3px aqua; /* Тень справа */
	

   }
   p.cr{margin-left: 800px; color:#808080;}
   
   .progress3{height: 40px; width: 700px; background: black;
              margin: auto; padding:16px 0 0 0px; border-radius: 8px;}
   
   
   #container {
 width: 700px; 
 height: 300px;
 margin: auto;  /*Выравнивание по центру*/ 
 color: #c0c0c0;
 background: black;
 text-align:left;
 border-bottom: solid 1px aqua;}
   
   .sign{text-align:center; font-size: 38px;}
  
  .fash{margin-top: -12px; margin-left: 10px; float:left;}
  .fash_g{border-bottom:solid 1px; width: 200px; height: 100px;}
  .fash_r{width: 200px; height: 100px;}
  .mail{margin-top: 40px; margin-left: 250px;}
  .you_mail{text-align: left; margin: -10px;}
  .ps{margin: -10px; margin-top: 50px; text-align: left;}
 
  
  .br{border: solid 0px; width: 300px; height: 20px; background: white;}  /*поля е-маил и пароль*/
  .ch{text-align: left;}
  .div2{ background: black; border-bottom: solid 1px aqua;
         width: 700px; height: 30px; margin: auto; margin-top: -16px;}  /*див2*/
  .bt{background: aqua; margin-top: 1px; 
  border: none; 
  color: #c0c0c0;
  text-transform: uppercase; 
  width: 80px;
  height: 28px;}		 /*кнопка*/ 
  .bt2{text-align:right; margin-right: 30px;} /*положение кнопки в див2*/
  .div3{ background: black; 
         width: 700px; height: 40px; margin: auto; margin-top: none;}  /*див3*/

  
  
   
  